body{
  background-color: blanchedalmond;
  color: black;
}

img{
  max-width: auto;
  width: 80%;
  margin: 2em;
  height: auto;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 80px); /* Subtract Header height */
  padding: 20px;
  box-sizing: border-box;
}

header {
  width: 100%;
  background-color: #333;
  color: black;
  padding: 10px 20px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}